language: node_js
node_js:
  - "13"
  - "12"
  - "11"
  - "10"
  - "9"
install:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build  
  - npm install
script:
  - npm run lint
  - npm run build
  - npm run coverage

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT