name: Node.js CI
on: [push]
jobs:
  make-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm i -g typescript typedoc
      - run: npm i
      - run: typedoc --out doc src
      - run: touch ./doc/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: doc
